html {
	display: flex;
	font-size: var(--font-size-html);
	gap: 0;
	height: 100vh;
	margin: 0;
	max-height: 100vh;
	max-width: 100vw;
	padding: 0;
	width: 100vw;
}

body {
	gap: 0;
	margin: 0;
	max-width: 100vw;
	padding: 0;
	width: 100vw;
}

body {
	align-items: flex-start;
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	gap: var(--gap);
	justify-content: flex-start;
	padding: var(--gap-l);
}

body {
	background-color: var(--c-surface-secondary);
	color: var(--c-text);
	font-family: var(--font-cursive);
	font-optical-sizing: auto;
	font-size: var(--font-size);
	font-weight: 400;
	line-height: var(--line-height-comfortable);
	transition: flex 0.4s linear, background-color 0.2s linear,
		color 0.2s linear;
}

#upper {
	display: flex;
	align-items: flex-start;
	gap: var(--gap);
	flex: 1 0 0;
	align-self: stretch;
}

#lower {
	display: flex;
	justify-content: flex-end;
	align-items: flex-end;
	gap: var(--gap);
	align-self: stretch;
}

#response,
#call {
	align-items: flex-start;
	background-color: var(--c-surface-primary);
	border-radius: var(--border-radius);
	display: flex;
	flex-direction: column;
	font-family: var(--font-cursive);
	font-size: var(--font-size-l);
	gap: var(--gap);
	line-height: var(--line-height-comfortable);
	max-width: 720px;
	width: 100%;
}

#response {
	padding: 40px 56px 48px 56px;
	border-radius: 0px var(--border-radius) var(--border-radius)
		var(--border-radius);
	flex: 1 0 0;
}

#response {
	font-size: var(--font-size-l);
}

#call {
	padding: 32px 48px 40px 48px;
	border-radius: var(--border-radius) var(--border-radius) 0px
		var(--border-radius);
}

#call {
	background-color: var(--c-surface-primary);
	font-family: var(--font-cursive);
	font-size: var(--font-size);
	line-height: var(--line-height-comfortable);
}

p {
	margin: 0;
	padding: 0;
}

a {
	color: var(--c-link-fill-primary);
	font-weight: 400;
	text-decoration: none;
}

a:hover {
	color: var(--c-link-fill-primary-hover);
	text-decoration: underline;
}

a:active {
	color: var(--c-link-fill-primary-active);
}

.link-block {
	display: flex;
	gap: var(--gap);
	flex-wrap: wrap;
	flex-direction: row;
	line-height: var(--line-height-compact);
}

button {
	padding: var(--gap-s) var(--gap);
	margin: 0;
	border-radius: var(--border-radius-sx);
}

button {
	background-color: var(--c-link-fill-primary);
	border: none;
	box-shadow: 0 0 rgba(54, 51, 102, 0.5);
	color: var(--c-link-text-primary);
	font-size: var(--font-size);
	font-weight: 400;
	text-align: left;
	text-decoration: none;
	transition: box-shadow 80ms ease-in, color 80ms linear,
		transform 80ms ease-in-out, background-color 80ms linear;
}

button:hover {
	background-color: var(--c-link-fill-primary-hover);
	color: var(--c-link-text-primary-hover);
	transform: scale(1.025);
	box-shadow: 0 10px 2px -4px rgba(95, 92, 153, 0.24),
		0 2px 3px -2px rgba(54, 51, 102, 0.5);
}

button:active {
	background-color: var(--c-link-fill-primary-active);
	box-shadow: 0 2px 1px rgba(54, 51, 102, 0.5);
	color: var(--c-link-text-primary-active);
	transform: scale(1);
}

button.emphasis-low {
	background-color: var(--c-link-fill-primary);
	color: var(--c-link-secondary);
}

button.emphasis-low:hover {
	background-color: var(--s-mono-100);
	color: var(--c-link-secondary-hover);
}

button.emphasis-low:active {
	background-color: var(--c-link-fill-primary);
	color: var(--c-link-secondary-active);
}

.button-group {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: var(--gap);
}

/* Type  */

.context {
	font-size: var(--font-size-s);
}

.overline {
	color: var(--c-text-secondary);
	font-family: var(--font-sans);
	font-size: var(--font-size);
	font-weight: 500;
	line-height: var(--line-height-compact);
	margin: 0;
	padding: 0;
	text-transform: uppercase;
}

.name {
	line-height: var(--line-height-none);
	font-weight: 600;
}

.meta {
	color: var(--c-text-secondary);
}

.large {
	font-size: var(--font-size-lx);
}

.emphasis {
	font-style: italic;
}

/* Layout */

.divider {
	width: 100%;
	height: 1px;
	background-color: var(--c-border);
	margin: 0.5rem 0;
}

.card {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	align-items: flex-start;
	margin: 0;
	padding: var(--gap);
	gap: var(--gap-s);
	border: 1px solid var(--c-border);
	border-radius: var(--border-radius);
}

.card-content {
	display: flex;
	flex-direction: column;
	gap: var(--gap-sx);
	margin-bottom: var(--gap-s);
}

/* AVATAR */

.avatar {
	display: flex;
	height: var(--gap-l);
	width: var(--gap-l);
	border-radius: var(--border-radius-circle);
	flex-direction: row;
	justify-content: center;
	align-items: center;
	background-color: var(--s-mono-100);
}

/* Utility Classes */
.flex {
	display: flex;
}

.highlight,
::selection {
	color: var(--c-highlight-text);
	background-color: var(--c-highlight-fill);
}

*:focus-visible {
	outline-offset: 2px;
	border-radius: var(--border-radius);
	outline: 3px solid var(--c-highlight);
}

/* For Scripts */

#display span {
	opacity: 0;
	transition: opacity 0.5s ease-in-out;
}

.tooltip {
	position: relative;
	cursor: pointer;
}

.tooltip-container {
	position: absolute;
	font-size: var(--font-size-s);
	line-height: var(--line-height-none);
	background-color: var(--c-text);
	color: var(--c-bg);
	padding: var(--gap-s);
	border-radius: var(--border-radius);
	white-space: nowrap;
	z-index: 9999;
	visibility: hidden;
	opacity: 0;
	transition: opacity 0.2s;
}

.tooltip-container.visible {
	visibility: visible;
	opacity: 1;
}
